// Fine Circle Responsive Image
// Inspired by https://stackoverflow.com/a/6615994/10194811

#container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#dummy {
  padding-top: 100%; /* 1:1 aspect ratio */
}

#element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle-image {
  width: 90%;
  height: 90%;
  margin: 0.2em;
  object-position: center;
}

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(255, 255, 255);
 
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  
}
